body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
p {
    color: gray;
}
.text-highlight {
    color: orange;
}
.halfwidth {
    width: 45%;
    float: left;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;;
}
.halfwidth img {
    width: 100%;
}
.top {
    background-image: url("pictures/top-banner.png");
    background-repeat: no-repeat;
}
section {
    height: 600px;
    padding: 50px;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, orangered);
    color: white;
    padding: 6px 6px;
    border-radius: 10px;
    font-weight: 700;
}
.dream {
    background-image: url("pictures/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-exp {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
}
.experience {
    background-image: url("pictures/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, green, yellow);
    border-image-slice: 1;
    background-color: white;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: black;
}